@using WebProject.Controllers
@model IEnumerable<Translation>
@{
    ViewBag.Title = "ShowSelectedView";
    Layout = "_ListLayout";
}

<div class="container p-2">
    <div class="row justify-content-center align-items-center">
        <div class="col p-3 text-center ">
            <a asp-action="index" asp-controller="home" class="btn p-1 m-2 w-25 fs-3 border btn-dark text-white">
                Aftur
            </a>

            <a asp-action="index" asp-controller="Create" class="btn p-1 m-2 w-25 fs-3 border btn-danger text-white">
                Ger nýggja umseting
            </a>
        </div>
    </div>
</div>

<br>

<div class="container p-2">
    <div class="row justify-content-center align-items-center">
        

        <div class="col-3 p-3 text-center ">
            <form method="get" asp-action="List" class="m-2">
                <div class="form-group">
                    <label class="p-1 m-2 w-50 fs-3  border bg-black text-white "> Page </label>
                    <input name="page" class="form-control p-1 m-2" value="@(TempData["page"])" />
                </div>
                <button class="btn btn-primary p-1 m-2 w-50 fs-3" type="submit">
                    Submit
                </button>
            </form>
        </div>
    </div>
</div>

<br>

<h4 class="bg-primary text-white text-center p-2">Translation</h4>
<table class="table table-sm table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>English</th>
            <th>Faroese</th>
            <th>Approval</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Translation t in Model ?? Enumerable.Empty<Translation>()) {
            <tr>
                <td class="text-center">@t.TranslationId</td>
                <td>@t.English</td>
                <td>@t.Faroese</td>
                <td class="text-center">@t.Approval</td>
            </tr>
        }
    </tbody>
</table>